@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&family=Raleway:wght@400;700&display=swap');

/* GLOBAL SETTINGS */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2 {
  font-family: 'Montserrat', sans-serif;
  text-shadow: 0px 0px 80px #00f0ff;
  color: white;
}

h1 {
  font-size: 6rem;
}

h2 {
  font-size: 4rem;
}

p {
  font-size: 3rem;
  color: white;
  font-family: 'Raleway', sans-serif;
}

/* button {
  background-color: #00f0ff;
  color: black;
  outline: none;
  border: none;
  font-size: 2.5rem;
  padding: 1rem 2rem;
  border-radius: 50px;
  transition: 0.3s;
}

button:hover {
  background-color: #00a4af;
  cursor: pointer;
} */

body {
  background-color: black;
  font-family: 'Raleway', sans-serif;
  text-align: center;
  margin: 0rem 5rem;
}
/* HEADER */

.nav-list {
  /* border: 5px red solid; */
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 2rem 0;
}

.nav-item {
  list-style: none;
  font-family: 'Raleway', sans-serif;
  font-size: 2.5rem;
}

.nav-item a {
  margin: 2rem;
  text-decoration: none;
  color: white;
  padding-bottom: 0.5rem;
  transition: 0.3s;
}

.nav-item a:hover {
  border-bottom: solid 6px #00f0ff;
}

.nav-item:first-child {
  margin-right: auto;
  margin-left: 2rem;
}

.nav-item img {
  width: 125px;
  height: 125px;
  border-radius: 50%;
}

.slogan-container {
  /* border: 1px yellow solid; */
  height: 60vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.slogan-container p {
  margin-top: 3rem;
  width: 80%;
}

/* FORM */

.form-container {
  margin-bottom: 20rem;
  /* border: 5px red solid; */
  display: flex;
  justify-content: center;
}

form {
  width: 60%;
  /* border: 5px yellow solid; */
  display: flex;
  flex-direction: column;
  justify-content: center;
}

input[type='text'],
input[type='tel'],
input[type='email'],
input[type='URL'],
textarea {
  width: 100%;
  margin: 2rem 0;
  padding: 2rem;
  border-radius: 20px;
  border: #00f0ff 5px solid;
  background-color: black;
  outline: none;
  font-size: 2rem;
  display: block;
  transition: 0.5s;
  color: white;
}

input[type='text']:focus,
input[type='tel']:focus,
input[type='email']:focus,
input[type='URL']:focus,
textarea:focus {
  box-shadow: 0px 0px 30px 1px white;
}

.file {
  opacity: 0;
  width: 0.1px;
  height: 0.1px;
  position: absolute;
}

.file-input label {
  display: block;
  /* position: relative; */
  width: 60%;
  height: 125px;
  border-radius: 10px;
  background-color: #00f0ff;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  cursor: pointer;
  transition: transform 0.2s ease-out;
  font-size: 2.5rem;
  margin-bottom: 2rem;
}

.file-input label:hover {
  background-color: #00a4af;
}

label {
  font-size: 2.5rem;
  color: white;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  display: block;
  text-align: left;
}

button {
  background-color: #00f0ff;
  color: black;
  outline: none;
  border: none;
  font-size: 2.5rem;
  padding: 2rem 3rem;
  border-radius: 10px;
  width: 60%;
  transition: 0.3s;
  float: left;
  font-weight: 700;
  display: block;
}

button:hover {
  background-color: #00a4af;
  cursor: pointer;
}
/* FOOTER */

footer {
  font-family: 'Raleway', sans-serif;
  font-size: 2rem;
  color: black;
  background-color: white;
  padding: 2.5rem;
}

.footer-column-container {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 3rem;
}

.footer-col {
  margin-right: 5rem;
}

.column-1 {
  margin: 0 auto 0 5rem;
}

footer a {
  text-decoration: none;
  color: black;
}
footer p {
  color: black;
  font-size: 2rem;
}

h3 {
  font-family: 'Raleway', sans-serif;
  font-size: 3rem;
  color: black;
  font-weight: 700;
}

.sitemap-footer-list {
  list-style: none;
}
