@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&family=Raleway:wght@400;700&display=swap');

/* GLOBAL SETTINGS */

* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1, h2 {
 font-family: 'Montserrat', sans-serif;
 text-shadow: 0px 0px 80px #00F0FF;
 color: white
}

h1 {
    font-size: 6rem
}

h2 {
    font-size: 4rem;
}

p {
    font-size: 3rem;
    color:  white;
    font-family: 'Raleway', sans-serif;;
}

button {
    background-color: #00F0FF;
    color: black;
    outline: none;
    border: none;
    font-size: 2.5rem;
    padding: 1rem 2rem;
    border-radius: 50px;
    transition: 0.3s;
}

button:hover {
    background-color: #00a4af;
    cursor: pointer;
}

body {
    background-color: black;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    margin: 0rem 5rem;
}
/* HEADER */


.nav-list {
    /* border: 5px red solid; */
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 2rem 0;
}

.nav-item {
    list-style: none;
    font-family: 'Raleway', sans-serif;
    font-size: 2.5rem;
}

.nav-item a {
    margin: 2rem;
    text-decoration: none;
    color: white;
    padding-bottom: .5rem;
    transition: 0.3s;
}

.nav-item a:hover {
    border-bottom: solid 6px #00F0FF;
}

.nav-item:first-child {
    margin-right: auto;
    margin-left: 2rem;

}

.nav-item img {
    width: 125px;
    height: 125px;
    border-radius: 50%;
}

.slogan-container {
    /* border: 1px yellow solid; */
    height: 40vh;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 5px solid red;
    margin-bottom: 100rem;
}





/* FOOTER */

footer {
    font-family: 'Raleway', sans-serif;
    font-size: 2rem;
    color: black;
    background-color: white;
    padding: 2.5rem;
}

.footer-column-container {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 3rem;
}

.footer-col {
    margin-right: 5rem;
}

.column-1 {
    margin: 0 auto 0 5rem;
}

footer a {
    text-decoration: none;
    color: black;
}
footer p {
    color: black;
    font-size: 2rem;
}

h3 {
    font-family: 'Raleway', sans-serif;
    font-size: 3rem;
    color: black;
    font-weight: 700;
}

.sitemap-footer-list {
    list-style: none;
}

